{% extends "quotes/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                "{{ quote.quote }}"
            </span>
            <span>by
                <small class="author" itemprop="author">
                    {% if quote.author %}
                        {{ quote.author.fullname }}
                        <a href="{% url 'quotes:author_detail' id=quote.author.id %}">(about)</a>
                    {% else %}
                        No author details available.
                    {% endif %}
                </small>
            </span>
            <div class="tags">
                Tags:
                {% if quote.tags.all %}
                    {% for tag in quote.tags.all %}
                        <a class="tag" href="/tag/{{ tag.name }}">{{ tag.name }}</a>
                    {% endfor %}
                {% else %}
                    <span>No tags available.</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a class="{% if not quotes.has_previous %}disabled{% endif %}"
                       href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>
                <li class="next">
                    <a class="{% if not quotes.has_next %}disabled{% endif %}"
                       href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                        Next <span aria-hidden="true">→</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
