Hello {{ user.username }},

It seems you forgot your password. Or just lost the paper it was written on.
Anyway, Our AWSOME Django Quotes Website is so functional, that allows you to reset it! Isn't it marvelous?

Please click the link below to install some viruses:
http://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

We're joking, of course)) The link is for password reset. Click it without fear.
If you haven't asked for a password reset, you won't get a free MARIJUANA joint from us)))

Thanks,
The Great Team of Our AWSOME Django Quotes Website
